
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">API's</h4>
                        <p class="category">API's for multiple channels</p>
                    </div>
                    <div class="card-content">
                        <div class="iframe-container hidden-sm hidden-xs">
                            <iframe src="http://10.10.69.194:1337/">
                                <p>Your browser does not support iframes.</p>
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
