<div class="main-content">
    <div class="container-fluid">
        <div class="places-buttons">
            <div class="row">
                <div class="col-md-12">
                    <div class="right">
                        <a class="btn btn-white btn-round btn-just-icon" routerLink="intent" title="Create Intent">
                            <i class="material-icons">add</i>
                            <div class="ripple-container"></div>
                        </a>

                        <a class="btn btn-white btn-round btn-just-icon" routerLink="./" title="View Available Intents">
                            <i class="material-icons">menu</i>
                            <div class="ripple-container"></div>
                        </a>

                    </div>
                </div>
            </div>
            <router-outlet></router-outlet>
        </div>
    </div>

</div>