
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header" data-background-color="blue">
            <h4 class="title">Configure</h4>
            <p class="category">Configure Patterns</p>
          </div>
          <div class="card-content">
            <!--Register form-->
            <form [formGroup]="patternForm" (ngSubmit)="addPattern()">
              <div class="row">

                <div class="col-md-6">
                  <div class="form-group form-black  is-empty">
                    <label class="control-label">Name</label>
                    <input type="text" class="form-control" formControlName="name">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group form-black  is-empty">
                    <label class="control-label">Pattern</label>
                    <input type="text" class="form-control" formControlName="pattern">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4">
                  <div class="form-group form-black is-empty">
                    <label class="switch">
                      <input type="checkbox" formControlName="enabled">
                      <span class="slider round"></span>
                    </label>
                    <h5>{{ this.patternForm.value.enabled ? 'Enable':'Disable'}} </h5>
                  </div>
                </div>
              </div>

              <div class="text-center">
                  <button class="btn btn-success waves-light" [disabled]='!this.patternForm.valid'>{{btnName}}</button>
                  <button class="btn btn-danger waves-light" (click)="this.patternForm.reset()">Clear</button>
              </div>

            </form>
            <!--/Register form-->
          </div>
        </div>
      </div>

    </div>



    <div class="col-md-12">
        <div class="card">
            <div class="card-header" data-background-color="blue">
                <h4 class="title">Patterns</h4>
                <p class="category">Configured Patterns</p>
            </div>
            <div class="card-content table-responsive">
                <table class="table">
                    <thead class="text-danger">
                        <tr>
                            <th>Name</th>
                            <th>Pattern</th>
                            <th>Enabled</th>
                            <th>Action</th>  
                        </tr>
                    </thead>
                    <tbody *ngFor="let pattern of patterns">
                        <tr>
                            <td>{{pattern.name}}</td>
                            <td>{{pattern.pattern}}</td>
                            <td>
                              {{pattern.enabled ? 'Yes':'No'}}
                            </td>
                            <td class="td-actions text-right">
                              <button type="button" rel="tooltip" title="Edit Channel" (click)="editPattern(pattern)" class="btn btn-primary btn-simple btn-xs">
                                <i class="material-icons">edit</i>
                              </button>
                              <!-- <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                <i class="material-icons">close</i>
                              </button> -->
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>