<div class="main-content">
    <div class="container-fluid">
        <div class="places-buttons">
            <div class="row">
                <div class="col-md-9 col-md-offset-2">
                    <div class="col-md-3">
                        <a class="btn btn-info btn-block" routerLink="pattern" title="Regular expression configuration">Configure Pattern</a>
                    </div>
                    <div class="col-md-3">
                        <a class="btn btn-warning btn-block" routerLink="channel" title="Channel configuration like facebook,slack..etc">Configure Channel</a>
                    </div>
                    <div class="col-md-3">
                            <a class="btn btn-danger waves-light" routerLink="cis" title="Conversatinal intellegense service">Configure CI Service</a>
                    </div>
                </div>
            </div>

        </div>

        <router-outlet></router-outlet>




    </div>
</div>