.card img {
    width: 5%;
    height: auto;
}

.card-header-google {
    background-color: #EA6F21;
    color:white;
}

.card-header-lex {
    color: #FFFFFF;
    background-color:#00CAFF;
    height:auto;
}

.title-lex .category-lex{
    color:white;
}